@font-face {
    font-family: futuralight;
    src: url("../fonts/futuralight.eot");
    src: url("../fonts/futuralight.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralight.woff2") format("woff2"), url("../fonts/futuralight.woff") format("woff"), url("../fonts/futuralight.ttf") format("truetype"), url("../fonts/futuralight.svg#Futura") format("svg");
}
h1 {
    font-family: futuralight, Arial, sans-serif;
}

body {
    background: #FFF;
    font-family: futuralight, Arial, sans-serif;
    padding: 0;
}

#main {
    transition: margin-right .5s;
}

.container {
    margin: 0;
    padding: 0;
    width: auto;
}

.content-heading {
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}

.news-feed {
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}

.feed {
    border-bottom: thin dotted #000;
    display: flex;
    margin: 15px;
    padding: 0 0 15px;
}

.news-button {
    height: 20px;
    background-color: #333;
    color: #fff;
    border-style: none;
    text-align: center;
   } 

.news-info {
    margin-left: 10px;
    vertical-align: text-bottom;
}

.news-info p {
    color: #000;
    overflow: hidden;
    text-decoration: underline;
}

.footer {
    background-color: #000;
    color: #FFF;
    height: auto;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.footer h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 15px 0 10px;
}

.footer p {
    font-size: 15px;
    margin: 0 0 10px;
}

.back-to-top {
    bottom: 20px;
    color: #333;
    cursor: pointer;
    display: inline;
    height: 50px;
    opacity: 0.5;
    position: fixed;
    right: 20px;
    width: 50px;
}

.carousel-caption {
    bottom: initial;
    left: 70%;
    max-width: 500px;
    right: auto;
    text-align: center;
    top: 20%;
}

@media (max-width: 767px) {
    body {
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    .page-title {
        display: flex;
        font-family: futuralight, Arial, sans-serif;
        height: 75px;
        padding: 0;
        width: 100%;
    }
    .title {
        margin-left: 15px;
        text-align: center;
        width: 87.5%;
    }
    .img-topic {
        padding-top: 15px;
    }
    .topic-image {
        height: 100px;
        width: 100%;
        z-index: -2;
    }
    .overlap-button {
        background-color: transparent;
        border-color: #000;
        border-radius: 0;
        border-style: solid;
        border-width: 1.5px;
        color: #000;
        font-family: futuralight, Arial, sans-serif;
        font-size: 30px;
        height: 50%;
        position: absolute;
        right: 15px;
        top: 30%;
    }
    .fa-chevron-right {
        float: right;
        margin-right: 10px;
        top: 5px;
    }
    .serv-img {
        display: inline;
        float: left;
        height: 100px;
        margin-right: 5%;
        width: 30%;
    }
    .news-info a {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .news-button,
    .contact-info,
    .links {
        display: none;
    }
    .sidenav {
        background-color: #333;
        height: 100%;
        overflow-x: hidden;
        padding-top: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .5s;
        width: 0;
        z-index: -1;
    }
    .sidenav a {
        border-bottom: 1px solid;
        border-color: #FFF;
        color: #818181;
        display: block;
        font-size: 20px;
        padding: 10px 0 10px 20px;
        text-decoration: none;
        transition: .3s;
    }
    .sidenav a:hover,
    .offcanvas a:focus {
        color: #fff;
    }
    .closebtn {
        margin-left: 50px;
        position: absolute;
        right: 15px;
        top: 0;
    }
    .toggle-button {
        background-color: #333;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        color: #fff;
        display: inline;
        height: 50px;
        position: relative;
        top: 15px;
    }
    .date {
        font-weight: 700;
        margin-left: 10px;
        vertical-align: text-bottom;
        width: 150px;
    }
    .fa-4x {
        font-size: 2.75em;
    }
    .slider {
        padding-left: 0;
        padding-right: 0;
    }
    .carousel {
        height: 300px;
        margin: 0;
    }
    .carousel .item {
        background-color: #777;
        height: 300px;
    }
    .carousel-inner > .item > img {
        height: 300px;
        left: 0;
        min-width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
    }
    .carousel-caption h1 {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .page-title {
        display: flex;
        font-family: futuralight, Arial, sans-serif;
        height: 75px;
        padding: 0;
        width: 100%;
    }
    .title {
        margin-left: 15px;
        width: 87.5%;
    }
    .contact-info {
        display: inline;
        width: 125px;
        position: sticky;
        right: 15px;
    }
    .contact-info button {
        height: 25px;
        background-color: #000;
        border-radius: 0;
        border-style: none;
        color: #FFF;
        width: 90%;
    }
    .contact-info h4 {
        font-size: 20px;
        width: 100%;
    }
    .links {
        width: inherit;
    }
    .links ul {
        background-color: #333;
        display: table;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 100%;
    }
    .links li {
        border-left: 1px solid #FFF;
        display: table-cell;
        text-align: center;
        width: auto;
    }
    .links li a {
        color: #FFF;
        display: block;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
    }
    .links li a:hover {
        background-color: #111;
    }
  .overlap-button {
        background-color: transparent;
        border-color: #000;
        border-radius: 0;
        border-style: solid;
        border-width: 1.5px;
        color: #000;
        font-family: futuralight, Arial, sans-serif;
        font-size: 30px;
        height: 25%;
        position: absolute;
        right: 15px;
        top: 30%;
    }
    .img-topic {
        display: block;
    }
    .topic-image {
        height: 250px;
        width: 100%;
        z-index: -1;
    }
    .desc {
        font-size: 20px;
        margin-top: 10px;
    }
    .serv-img {
        height: 250px;
        width: 100%;
    }
    .date {
        font-weight: 700;
        margin-left: 10px;
        vertical-align: text-bottom;
        width: 100px;
    }
    .news-button {
        display: inline;
    }
    .sidenav,
    .toggle-button {
        display: none;
    }
    .slider {
        padding-left: 0;
        padding-right: 0;
    }
    .carousel {
        height: 350px;
        margin: 0;
    }
    .carousel .item {
        background-color: #777;
        height: 350px;
    }
    .carousel-inner > .item > img {
        height: 500px;
        left: 0;
        min-width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
    }
}

@media (min-width: 1025px) {
    body {
        padding-left: 100px;
        padding-right: 100px;
    }
}
